h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    text-align: center;

}

*{
    box-sizing: border-box;
}

h2{
    margin:0px;
    padding: 0px;
    text-align: center;

}

#container{
    background-color: darkgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:5%;
}

#heading_1{
    border: 1px solid black;
    margin-left:60%;
    background-color:darksalmon;

}

#heading_2{
    border: 1px solid black;
    margin-left:60%;
    background-color:firebrick;
}

#heading_3{
    border: 1px solid black;
    margin-left:60%;
    background-color:blanchedalmond;

}


/* Large Devices only */
@media (min-width:1200px) {
    .col-lg-1, .col-lg-2,  .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
        float: left;
        border: 1px solid black;
    }
    .col-lg-1{
        width:8.33%;
        background-color: gray;
    }
    .col-lg-2{
        width:16.66%;
        background-color: gray;
    }
    .col-lg-3 {
        width: 25%;
        background-color: gray;
    }
    .col-lg-4 {
        width: 33.33%;
        background-color: gray;
     }
     .col-lg-5 {
        width: 41.66%;
        background-color: gray;
    }
    .col-lg-6 {
        width: 50%;
        background-color: gray;
    }
    .col-lg-7 {
        width: 58.33%;
        background-color: gray;
    }
    .col-lg-8 {
         width: 66.66%;
         background-color: gray;
    }
     .col-lg-9 {
        width: 74.99%;
        background-color: gray;
    }
    .col-lg-10 {
         width: 83.33%;
         background-color: gray;
    }
    .col-lg-11 {
        width: 91.66%;
        background-color: gray;
    }
    .col-lg-12 {
        width: 100%;
        background-color: gray;
    }
}

/*  Medium devices only */
 @media (min-width: 950px) and (max-width: 1199px){
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
        float: left;
        border: 1px solid black;
    }
    .col-md-1 {
        width: 8.33%;
        background-color: gray;
    }
    .col-md-2 {
        width: 16.66%;
        background-color: gray;
    }
    .col-md-3 {
        width: 25%;
        background-color: gray;
    }
    .col-md-4 {
        width: 33.33%;
        background-color: gray;
    }
    .col-md-5 {
        width: 41.66%;
        background-color: gray;
    }
    .col-md-6 {
        width: 50%;
        background-color: gray;
    }
    .col-md-7 {
        width: 58.33%;
        background-color: gray;
    }
    .col-md-8 {
        width: 66.66%;
        background-color: gray;
    }
    .col-md-9 {
        width: 74.99%;
        background-color: gray;
    }
    .col-md-10 {
        width: 83.33%;
        background-color: gray;
    }
    .col-md-11 {
        width: 91.66%;
        background-color: gray;
    }
    .col-md-12 {
        width: 100%;
        background-color: gray;
    }
    }
